$bkgrnd: #333;
$yellow: #fede00;
$font: #fff;
$fontfam: league spartan;

*{
  padding: 0;
  margin: 0;
}
body{
  background: $bkgrnd;
  font-family: $fontfam, 'Verdana', 'sans-serif';
}
.navbar{
  padding: 0.8rem;
  .navbar-nav{
    width: 90%;
    height: auto;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    gap: 0.9rem;
    overflow: hidden;
    .nav-link{
      font-size: 1.09rem;
      position: relative;
      color: #fff;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 0.2rem;
      transition: transform 0.34s ease-in;
      }
      .nav-link:before{
        content: attr(data-hover);
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 50%;
        color: #fff;
    }
    .nav-link:hover{
      transform: translateY(65%);
    }
    .nav-link:after{
      content: '';
      position: absolute;
      width: 0%;
      height: 2px;
      background: $yellow;
      bottom: 100%;
      left: 0%;
      transition: width 0.60s;
    }
    .nav-link:hover:after{
      width: 100%;
    }
    .linkcv{
      font-size: 1.03rem;
      padding: 0.6rem;
      position: relative;
      color: #000;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 0.2rem;
      text-decoration: none;
      background: $yellow;
      border-radius: 30% 70% 40% 75% / 20% 10% 30% 20%;
      transition: transform 1s ease-in;
    }
    .linkcv:hover{
      opacity: 0.8;
      transform: scale(1.4);
    }

  }
}

//First container
.container{
  margin: 1.4rem auto;
  padding: 1.2rem;
  .row{
    .namebox{
      //position: relative;
      padding: 0.5rem;
      color: #fff;
      h2{
        line-height: 2.8rem;
        span{
          color: $yellow;
          text-transform: uppercase;
          font-size: 2.2rem;
          font-weight: 800;
          letter-spacing: 0.3rem;
          display: block;
          }
        }

          h3{
            color: #777;
            line-height: 2.8rem;
            span{
              font-size: 1.8rem;
              font-weight: 800;
              text-transform: uppercase;
              color: #fff;
            }
            .vr{
              position: absolute;
              height: 200px;
              bottom: 50%;
              left: 39%;
            }
          }
        }
        .boutons{
          position:relative;
          display: flex;
          gap: 1.7rem;
          #btn{
            border: 1px solid #777;
          }
          button{
            display: inline-block;
            a{
              text-decoration: none;
              color: #fff;
              i{
                transform: translateX(35%);
              }
            }
          }
        }
      }
    }
.container{
  .row{
    .design-wrap{
      .image-wrapper{
        .square{
          position: absolute;
          width: 110px;
          height: 100px;
          transform: translateX(155%) translateY(220%) ;
          background: $yellow;
          z-index: 2000;
        }
        .picbox{
          position: relative;
          margin: 2rem auto;
          display: flex;
          justify-content: center;
          align-items: center;
          h1{
            position: absolute;
            right: 10%;
            -webkit-writing-mode: vertical-lr;
            -webkit-moz-writing-mode: vertical-lr;
            writing-mode: vertical-lr;
            text-transform: uppercase;
            -webkit-text-stroke: 2px #fff;
            -webkit-text-fill-color: #dc3545;
            letter-spacing: 8px;
            font-weight: 900;
            font-size: 2.7rem;
            opacity: 0.6;

          }
          img{
            position: relative;
            width: 340px;
            z-index: 1000;
          }
        }
        .picbox:before{
          content: '';
          position: absolute;
          width: 50%;
          height: 400px;
          background: #dc3545;
          border-radius: 10px;
          right: 7%;
          z-index: -3;
        }
      .picbox:after{
        content: '';
        position: absolute;
        width: 70%;
        height: 320px;
        border: 2px solid #fff;
        right: 10%;
        z-index: -1;
      }
      }
    }
    .contator{
      width: 100%;
      display: flex;
      gap: 8px;
      margin: 2rem auto;
      color: #fff;
      h1{
        border: 1px solid #777;
        width: 50px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.1);
        text-align: center;
        overflow: hidden;
        font-weight: 900;
        font-size: 2.8rem;
        -webkit-text-stroke: 1px #fff;
        -webkit-text-fill-color: rgba(255, 255, 255, 0.1);
      }
      .vr2{
        height: 40px;
      }
      h3{
        text-transform: uppercase;
        letter-spacing: 4px;
        font-weight: 300;
      }
    }
  }
}

.about-container{
  h1{
    color:$yellow;
    font-weight: 900;
    font-size: 2.6rem;
  }
  .row{
    margin-bottom: 3px;
    .col{
      display: flex;
      .linguagen-content{
        display: flex;
        justify-content: center;
        align-content: center;
        gap: 0.2rem;
        .l-content{
          width: 260px;
          display: flex;
          gap: 8px;
          padding: 15px;
          background: rgba(0, 0, 0, 0.2);
          border-radius: 8px;
          .logo{
            width: 60px;
            height: 60px;
            border-radius: 30px;
            display: flex;
            justify-content: center;
            padding: 8px;
            background: rgba(255, 255, 255, 0.1);
            img{
              width: 45px;
            }
          }
        .linguagen-info{
          color: #fff;
          h3{
            letter-spacing: 3px;
            text-transform: uppercase;
            font-weight: 300;
          }
          p{
            text-align: left;
            letter-spacing: 1px;
            font-size: 1rem;
          }
        }
        }
      }
    }
  }
}

@media only screen and(max-width: 900px){
  .navbar{
    .navbar-nav{
      justify-content: flex-start;
      align-items: flex-start;
      height: 280px;
      transition: transform 0s;
      .nav-link{
        width: 100%;
      }
      .nav-link:before{
        position: relative;
        display: none;
        }
      .nav-link:hover{
        transform: translateY(0%);
      }
      .nav-link:after{
        bottom: 0%;
      }
    }
  }
  .container{
    position: relative;
    .row{
      .namebox{
        h2{
          span{
            font-size: 1.8rem;
            letter-spacing: 0;
          }
        }
        h3{
          font-size: 1.1rem;
          span{
            font-size: 1.1rem;
            font-size: 600;
            word-wrap:break-word;
          }
        }
      }
      .design-wrap{
        .image-wrapper{
          .picbox{
            width: 100%;
            margin-top: 3rem;
            img{
              width: 310px;
              transform: translateX(-25%);
            }
          }
        .picbox:before{
          right: 10%;
          top: -10%;
          height: 360px;
        }
       .picbox:after{
         width: 65%;
         height: 300px;
         transform: translateY(-5%);
       }
        }
      }
    }
  }
  .about-container{
    .row{
      .col{
        .linguagen-content{
          .l-content{
            display: flex;
            flex-direction: column;
            width: 220px;
            .linguagen-info{
              p{
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}
